@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@layer theme {
  :root {
    --background: #fafafa;
    --foreground: #18181b;
  }

  .dark {
    --background: #09090b;
    --foreground: #fafafa;
  }
}

@layer base {
  body {
    @apply bg-zinc-50 dark:bg-zinc-950 text-zinc-900 dark:text-zinc-100 transition-colors duration-300;
  }
}