@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@layer theme {
  :root {
    --background: #fafafa;
    --foreground: #18181b;
  }

  .dark {
    --background: #2C2C2C;
    --foreground: #E4E4E4;
    --muted-cyan: #A8DADC;
    --muted-pink: #FFC1CC;
    --muted-lavender: #B39CD0;
  }
}

@layer base {
  body {
    @apply bg-zinc-50 dark:bg-zinc-950 text-zinc-900 dark:text-zinc-100 transition-colors duration-300;
  }
}